<h1>Logs#Upload</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<%= form_tag import1_wlogs_path, multipart: true   do %>
  <%= file_field_tag :file    %>


  <%= submit_tag "Upload Logs" ,   class: 'btn btn-primary  ' %>
<% end %>


 
