
<!-- Begin Page Content -->
               <div class="container-fluid">

                   <!-- Page Heading -->
                   <h1 class="h3 mb-4 text-gray-800">Log File Upload</h1>






<%= form_tag import1_wlogs_path, class: "form-inline", multipart: true   do %>
  <%= file_field_tag :file    %>


  <%= submit_tag "Upload Logs" ,   class:"btn btn-primary mb-2" %>
<% end %>

 

</div>
<!-- /.container-fluid -->
